[run]
source = .
omit =
    */migrations/*
    tests/*
    */tests.py
    conftest.py
    */venv/*
    .venv/*
    manage.py
    config/asgi.py
    config/wsgi.py

[report]
skip_empty = True
show_missing = True
